.footer
  background: #f2f2f2
  background-attachment: fixed
  background-repeat: repeat
  border-top: 1px solid #d9d9d9
  padding: 60px 0 0

  .footer-title
    font-size: 14px

  .footer-desc
    color: #787878
    line-height: 22px

  .ul
    padding-left: 0

  ul li a
    font-size: 11px
    text-transform: uppercase
    color: #787878

  .icon
    display: inline-block
    margin-right: 10px

  .address
    font-size: 12px

  .footer-top
    padding-bottom: 30px
    border-bottom: 1px solid #d9d9d9

  .footer-middle
    padding-top: 30px
    padding-bottom: 30px
    line-height: 30px

    .footer-title
      line-height: 30px
      color: #787878

    a
      color: #787878

    .fa
      font-size: 16px

  .footer-last
    padding: 20px 0
    background: #2b2c2d
    color: #d9d9d9
    font-size: 11px

    a
      color: #787878

  &.dark-footer
    background: #37393a
    background-image: url("../../images/green mtn bkgd-dark.png")
    background-attachment: fixed
    background-size: cover
    border-top: 1px solid #787878

    .footer-desc
      color: #d9d9d9

    .footer-title
      color: #fff

    ul li a
      font-size: 11px
      text-transform: uppercase
      color: #d9d9d9

    .footer-middle
      .footer-title, a
        color: #d9d9d9

    h1, h2, h3, h4, h5, h6, .counter-box, label
      color: #f2f2f2

  &.sticky-footer
    position: fixed
    bottom: 0
    width: 100%
    z-index: -1

  .left
    float: left

.scroll-to-top
  position: fixed
  bottom: -50px
  right: 15px
  width: 40px
  height: 40px
  background: #2b2c2d
  color: #fff
  opacity: 0.75
  text-align: center
  display: block
  z-index: 100
  font-size: 26px
  line-height: 40px
  cursor: pointer

  &:hover
    opacity: 1
