.grad-bg
  height: 100vh
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  background: rgba(0, 0, 0, 0.4)

.grad-bg-01
  background: #30a2d9
  background: linear-gradient(to left, #30a2d9, #145575)

.grad-bg-11
  background: repeating-linear-gradient(45deg, transparent, transparent 1em, moccasin 0, moccasin 2em, transparent 0, transparent 3em, powderblue 0, powderblue 4em, transparent 0, transparent 5em, lavender 0, lavender 6em, transparent 0, transparent 7em, beige 0, beige 8em), repeating-linear-gradient(-45deg, transparent, transparent 1em, khaki 0, khaki 2em, transparent 0, transparent 3em, beige 0, beige 4em, transparent 0, transparent 5em, peachpuff 0, peachpuff 6em), whitesmoke
  background-blend-mode: multiply

  .headline, .sub-headline
    color: #323232 !important

.bg-black
  background: #363636
  color: #e2e2e2