.row .alert
  margin-bottom: 0

.header
  position: fixed
  width: 100%
  z-index: 101
  min-height: 55px
  transition: all 0.4s ease-in-out

  .logo
    padding: 6px 0px
    float: left
    position: absolute
    z-index: 1
    transition: all 0.4s ease-in-out

  .logo-img
    max-height: 55px
    transition: all 0.4s ease-in-out

  .menu-item
    float: none
    display: inline-block
    background: none

    a
      color: #383939
      text-transform: uppercase
      letter-spacing: .6px
      padding: 0 10px
      line-height: 55px
      transition: all 0.4s ease-in-out

    .mega-submenu
      text-align: left

      a
        color: #787878
        line-height: 18px
        text-transform: capitalize
        padding: 8px 10px
        letter-spacing: 0.5
        transition: all 0.4s ease-in-out

        &:hover
          border-left: 3px solid #888a8c

  .main-menu
    text-align: right

.secondNav .header
  min-height: 55px
  background: #dad7da

  .main-menu > li a
    line-height: 55px
    color: #787878

  .logo
    padding: 6px 0px
    float: left
    position: absolute

  .logo-img
    max-height: 55px

.main-menu > li > ul.normal-sub
  width: 220px

  > li a
    padding: 10px

.menu
  ul li.active a
    color: #45bcac

  > ul > li
    &.active
      border-top: 3px solid #45bcac

    &:hover a
      color: #45bcac

.main-menu > li > ul
  border-top: 3px solid #45bcac

.mega-submenu
  a
    line-height: 22px !important

  &.normal-sub
    background-image: none

    a
      transition: all 0.4s ease-in-out

      &:hover
        border-left: 0px !important
        background: #f2f2f2

      i
        width: 22px
        display: inline-block
        text-align: center
        font-size: 13px

    .sub-submenu
      display: none
      position: absolute
      z-index: 101
      top: 0px
      left: 100%
      background: #fff
      list-style: none
      border-top: 3px solid #45bcac
      width: 200px
      padding-left: 0px
      box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.05)
      transition: all 0.4s ease-in-out

      &.on-left
        right: 100%
        left: auto

    .has-subsubmenu
      position: relative
      z-index: 100

      &:after
        content: ' '
        width: 0px
        height: 0px
        border-top: 5px solid transparent
        border-bottom: 5px solid transparent
        border-left: 5px solid #45bcac
        top: 15px
        right: 15px
        position: absolute

  background-color: #fff !important
  background-repeat: no-repeat
  background-position: bottom right

  &.no-image
    background: transparent

.header-shadow .mega-submenu
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.07)

.header-border .mega-submenu
  border-bottom: 1px solid #d9d9d9
  border-right: 1px solid #d9d9d9
  border-left: 1px solid #d9d9d9

.secondNav
  &.header-shadow .header
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.07)

  &.header-border .header
    border-bottom: 1px solid #d9d9d9

.submenu-column ul li a i
  width: 28px
  display: inline-block
  text-align: center
  font-size: 13px

.secondNav.dark-menu .header
  background: #2b2c2d
  color: #fff

.nav > li > a
  &:focus, &:hover
    background-color: transparent

.dark-menu
  .mega-submenu
    background-color: #2b2c2d !important
    background-repeat: no-repeat
    background-position: bottom right

  .header .main-menu > li a, .submenu-bottom
    color: #fff

  .submenu-column h6
    color: #fff !important

.light-header.semi-trans-header .main
  padding-top: 0px

  &.covid
    padding-top: 50px

.bold-menu a
  font-weight: 600

.semi-trans-header
  &.dark-header .header
    background: rgba(34, 34, 34, 0.4)

  &.light-header .header
    background: rgba(255, 255, 255, 0.8)

.center-logo
  .logo
    float: none
    text-align: center

  .header .main-menu
    text-align: left
    border-top: 1px solid #f2f2f2

  .main-menu > li.active
    border-top: 0px

    > a
      color: #45bcac !important

  .left-separator
    float: right
    border-left: 0px !important

.light-header .left-separator
  border-left: 1px solid #f2f2f2

.dark-header
  .left-separator
    border-left: 1px solid #d9d9d9

  &.center-logo .header .main-menu
    border-top: 1px solid #d9d9d9

.small-header .header
  min-height: 50px

  .main-menu > li a
    line-height: 50px

  .logo
    padding: 10px

  .logo-img
    max-height: 30px

.open-nav-button
  visibility: hidden
  color: #2b2c2d
  line-height: 83px
  transition: all 0.4s ease-in-out
  font-size: 18px
  z-index: 100
  position: relative
  cursor: pointer

.secondNav .open-nav-button, .small-header .open-nav-button
  line-height: 50px

.nav-hidden
  .main-menu
    display: none
    transition: all 0.4s ease-in-out

  .open-nav-button
    visibility: visible

.sidr
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1)
  background: #fff

  .logo
    width: 220px
    padding: 20px

    img
      width: 100%

  ul
    list-style: none
    padding-left: 0px

    li a
      line-height: 45px
      display: inline-block
      padding-left: 20px
      color: #d9d9d9
      width: 100%
      transition: all 0.2s ease

      &:hover
        background: #f2f2f2
        border-left: 3px solid #45bcac

.top-separator
  border-top: 1px solid #f2f2f2

.dark-header
  .sidr
    background: #787878

    ul li a
      color: #fff

  .open-nav-button
    color: #fff

.mega-submenu.normal-sub
  background-image: none

  a
    transition: all 0.4s ease-in-out

    &:hover
      border-left: 0px !important
      background: #f2f2f2

    i
      width: 22px
      display: inline-block
      text-align: center
      font-size: 13px

  .sub-submenu
    display: none
    position: absolute
    z-index: 101
    top: 0px
    left: 100%
    background: #fff
    list-style: none
    border-top: 3px solid #45bcac
    width: 200px
    padding-left: 0px
    box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.05)
    transition: all 0.4s ease-in-out

    &.on-left
      right: 100%
      left: auto

  .has-subsubmenu
    position: relative
    z-index: 100

    &:after
      content: ' '
      width: 0px
      height: 0px
      border-top: 5px solid transparent
      border-bottom: 5px solid transparent
      border-left: 5px solid #45bcac
      top: 15px
      right: 15px
      position: absolute

.menu-style-2
  .menu-icon
    font-size: 13px
    display: inline-block
    margin-right: 5px

  .menu > ul > li.active
    border-top: 0px

    > a
      color: #45bcac

.menu-style-3
  .menu-icon
    font-size: 13px
    display: inline-block
    margin-right: 5px

  .menu > ul > li.active
    background: #45bcac
    border-top-color: #45bcac

    > a
      color: #fff

      &:hover
        color: #fff !important

.top-menu
  width: 100%
  background: #f2f2f2
  padding: 10px

  .right-div
    text-align: right

    a
      margin-left: 10px

  .left-div
    text-align: left

    a
      margin-right: 10px

  a
    font-size: 12px
    color: #787878
    padding: 5px 10px

.dark-header .mega-submenu.normal-sub
  .sub-submenu
    background: #2b2c2d

  a:hover
    background: #37393a

.static-header .header
  position: static

.menu-style-5
  .menu-item
    padding: 20px 5px
    transition: all 0.4s ease-in-out

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li.active
    border-top: 0px

    > a
      background: #45bcac
      border-radius: 4px
      color: #fff

      &:hover
        color: #fff !important
        border-radius: 4px 4px 0px 0px

.secondNav .menu-style-5
  .menu-item
    padding: 0px 5px

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li.active > a
    border-radius: 0px

.menu-style-6
  .menu-item
    padding: 20px 5px
    transition: all 0.4s ease-in-out

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li
    &.active
      border-top: 0px

      > a
        background: #45bcac
        border-radius: 4px
        color: #fff
        -webkit-transform: skew(-10deg)
        -ms-transform: skew(-10deg)
        transform: skew(-10deg)

        &:hover
          color: #fff !important
          border-radius: 4px 4px 0px 0px

    > a:hover
      -webkit-transform: skew(-10deg)
      -ms-transform: skew(-10deg)
      transform: skew(-10deg)
      background: #45bcac
      color: #fff !important
      border-radius: 4px

.secondNav .menu-style-6
  .menu-item
    padding: 0px 5px

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li.active > a
    border-radius: 0px

.left-menu .main-menu
  text-align: left

.menu-style-8
  .menu-item
    padding: 20px 5px
    transition: all 0.4s ease-in-out

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li
    &.active
      border-top: 0px

      > a
        border: 1px solid #45bcac
        border-radius: 4px
        color: #45bcac
        -webkit-transform: skew(-10deg)
        -ms-transform: skew(-10deg)
        transform: skew(-10deg)

        &:hover
          color: #fff !important
          border-radius: 4px 4px 0px 0px

    > a:hover
      -webkit-transform: skew(-10deg)
      -ms-transform: skew(-10deg)
      transform: skew(-10deg)
      background: #45bcac
      color: #fff !important
      border-radius: 4px

.secondNav .menu-style-8
  .menu-item
    padding: 0px 5px

    > a
      padding: 0px 10px
      line-height: 40px

  .menu > ul > li.active > a
    border-radius: 0px

.menu-style-9
  .menu-icon
    font-size: 13px
    display: inline-block
    margin-right: 5px

  .menu > ul > li
    height: 83px
    vertical-align: bottom
    transition: all 0.4s ease-in-out

    > a
      line-height: 20px
      padding-top: 40px
      text-align: left
      transition: all 0.4s ease-in-out

      span.text-muted
        display: block
        font-size: 10px
        text-transform: capitalize
        color: #787878

    &.active
      background: #45bcac
      border-top-color: #40a269

      > a
        color: #fff

        &:hover
          color: #fff !important

        span.text-muted
          color: #f2f2f2

.secondNav .menu-style-9 .menu > ul > li
  height: 70px

  > a
    padding-top: 5px
    line-height: 20px

.main-menu
  display: flex

.menu-style-10
  .menu-icon
    font-size: 18px
    display: block
    margin-right: 5px

  .menu > ul > li
    height: 73px
    vertical-align: bottom
    transition: all 0.4s ease-in-out

    > a
      line-height: 20px
      padding-top: 20px
      text-align: left
      transition: all 0.4s ease-in-out

      span.text-muted
        display: block
        font-size: 10px
        text-transform: capitalize
        color: #d9d9d9

    &.active
      background: #45bcac
      border-top-color: #45bcac

      > a
        color: #fff

        &:hover
          color: #fff !important

        span.text-muted
          color: #f2f2f2

.secondNav .menu-style-10 .menu > ul > li
  height: 73px

  > a
    padding-top: 20px
    line-height: 20px

.sidr
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1)
  background: #fff

  .logo
    width: 220px
    padding: 20px

    img
      width: 100%

  ul
    list-style: none
    padding-left: 0px

    li a
      line-height: 53px
      display: inline-block
      padding-left: 20px
      color: #787878
      width: 100%
      transition: all 0.2s ease-in-out

      &:hover
        background: #f2f2f2
        border-left: 3px solid #45bcac

.top-separator
  border-top: 1px solid #f2f2f2

.dark-header
  .sidr
    background: #2b2c2d

    ul li a
      color: #fff

  .open-nav-button
    color: #fff

.search-icon
  position: relative

  .search-bar
    position: absolute
    right: 0
    display: none
    box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.05)
    background: #f2f2f2
    border: 1px solid #d9d9d9

  &:hover .search-bar
    display: block

.panel
  background-color: transparent
  border-style: none
  box-shadow: none

.panel-heading
  padding: 5px 7px

.container
  height: unset

.panel-title
  font-size: 14px
  padding: 10px 0

.list-group-item
  text-align: left

.drop
  display: block

.header .container
  max-height: 65px
  width: fit-content

@media (min-width: 1159px)
  menu-dropdown-icon:before, .menu-mobile
    display: none

  #products
    width: 101px

  #about
    width: 70px

  #policyowner
    width: 190px

  #about .panel-collapse, #policyowner .panel-collapse, #products .panel-collapse
    width: max-content

@media only screen and (max-width: 1158px)
  .menu-dropdown-icon:before, .menu-mobile
    display: block

  .header
    .container
      max-height: fit-content

    max-height: 90%
    overflow-y: auto
    overflow-x: hidden

  .panel-group .panel
    + .panel
      margin-top: 0px

    border-radius: 0

  .panel
    background-color: #fff
    margin: 0px 5px
    padding: 0

  .panel-heading.logo-header
    display: flex
    justify-content: space-between

  .panel.logo-header
    background-color: transparent

  .drop
    display: none

  .header .logo
    padding-bottom: 0px

  .main-menu
    display: flex
    flex-direction: column

  .panel-title
    text-align: left

  .center-logo .menu-mobile
    text-align: center

    &:after
      float: none

  .light-header .menu-mobile
    color: #787878

  .left-menu .menu-mobile
    float: left

  .secondNav .menu-mobile
    color: #787878
    padding-top: 20px

  .main-menu.show-on-mobile
    background: #fff
    text-align: left
    color: #787878
    max-height: 600px
    overflow: scroll

  .dark-header .main-menu.show-on-mobile, .dark-menu .main-menu.show-on-mobile
    background: #2b2c2d

  .header .menu-item
    &.search-icon, &.cart-icon
      display: none

    .mega-submenu
      margin-left: 30px

  .header-shadow .mega-submenu
    box-shadow: none
    border-top: 0px

  .mega-submenu.normal-sub .sub-submenu
    box-shadow: none
    border-top: 0px
    position: static
    margin-left: 40px

  .main-menu > li > ul, .menu > ul > li.active
    border-top: 0px

  .header .menu-item a
    color: #787878
    line-height: 50px

  .feature
    margin-bottom: 30px

  .footer
    .col-md-6
      text-align: center

    .footer-top .pull-right
      float: none !important
      margin: auto

    .text-right
      text-align: center

  .menu-style-6
    .menu > ul > li
      &.active > a
        background: #fff
        color: #45bcac

      > a:hover
        background: #fff
        color: #45bcac !important

    .menu-item
      padding: 5px

  .menu-style-3 .menu > ul > li.active
    background: #fff
    color: #45bcac

    > a
      color: #45bcac !important

  .top-menu
    display: none

  .open-nav-button
    display: none

    &.sidr-btn
      display: block

  .nav-hidden .main-menu.show-on-mobile
    display: block

  .page-title-row
    padding: 50px 0px

.headline
  font-family: 'Lato', sans-serif
  font-size: 4.236em
  color: #fff
  text-transform: none
  margin-top: 10px
  margin-bottom: 30px
  text-transform: uppercase

.sub-headline
  font-size: 1em
  text-transform: none
  margin-top: 5px
  margin-bottom: 20px
  color: rgba(255, 255, 255, 0.7)
  line-height: 30px

.hide
  display: none

.display
  display: inline