@charset "UTF-8";
/**
 * ----------------------------------------------------------------------------------------
 * main.scss
 *
 * Main css file for this template.
 * ----------------------------------------------------------------------------------------
 */
/**
 * ----------------------------------------------------------------------------------------
 *  [TABLE OF CONTENTS]
 *
 * 1. VARIABLES & MIXINS
 * 2. COMMON - Margin, Padding etc
 * 3. HEADER & NAVIGATION
 * 4. SECTIONS
 * 5. FEATURES
 * 6. COUNTERS
 * 7. CALL TO ACTION SECTIONS
 * 8. BUTTONS
 * 9. FOOTER
 * 10. GRADIENT BACKGROUNDS
 * 11. TABS
 * 12. PORTFOLIO
 * 13. SWITCHER
 * 14. PAGE LOADERS
 * 15. SLIDERS
 * 16. ACCORDIONS
 * 17. TIMELINE
 * 18. SOCIAL ICONS
 * 19. FORMS & INPUTS
 * 20. LISTS
 * 21. PAGE TITLES
 * 22. MAGNIFIC POPUP
 * 23. CAROUSEL
 * 24. MISCELLANEOUS
 * ----------------------------------------------------------------------------------------
 */
/**
 * ----------------------------------------------------------------------------------------
 * 1. VARIABLES & MIXINS
 * ----------------------------------------------------------------------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
body, html {
  font-family: 'Lato', sans-serif;
  font-weight: 460;
  color: #2b2c2d;
  font-size: 13px;
  line-height: 1.75em;
}

@media (min-width: 600px) {
  body, html {
    font-size: calc( 12px + (14 - 12) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  body, html {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

p, blockquote, pre,
address,
dl, ol, ul,
table {
  margin-bottom: 1.45em;
  
}

h1, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #30a2d9;
  clear: both;
}
h7, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #414141;
  clear: both;
}


h1 {
  font-size: 27.85439px;
  margin-top: 0.9424em;
  line-height: 1.13088em;
  margin-bottom: 0.18848em;
}

@media (min-width: 600px) {
  h1 {
    font-size: calc( 27.85439px + (32.49679 - 27.85439) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h1 {
    font-size: 32.49679px;
    margin-top: 0.9424em;
    line-height: 1.13088em;
    margin-bottom: 0.18848em;
  }
}

h2 {
  font-size: 15.537px;
  margin-top: 1.11527em;
  line-height: 1.33832em;
  margin-bottom: 0.25148em;
  color: #414141;
}

@media (min-width: 600px) {
  h2 {
    font-size: calc( 23.537px + (27.45984 - 23.537) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h2 {
    font-size: 15.45984px;
    margin-top: 1.11527em;
    line-height: 1.33832em;
    margin-bottom: 0.24742em;
  }
}

h3 {
  font-size: 19.8888px;
  margin-top: 1.31984em;
  line-height: 1.58381em;
  margin-bottom: 0.30378em;
}

@media (min-width: 600px) {
  h3 {
    font-size: calc( 19.8888px + (23.20361 - 19.8888) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h3 {
    font-size: 23.20361px;
    margin-top: 1.31984em;
    line-height: 1.58381em;
    margin-bottom: 0.2981em;
  }
}

h4 {
  font-size: 16.80607px;
  margin-top: 1.56194em;
  line-height: 1.87432em;
  margin-bottom: 0.36815em;
}

@media (min-width: 600px) {
  h4 {
    font-size: calc( 16.80607px + (19.60708 - 16.80607) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h4 {
    font-size: 19.60708px;
    margin-top: 1.56194em;
    line-height: 1.87432em;
    margin-bottom: 0.36018em;
  }
}

h5 {
  font-size: 14.20116px;
  margin-top: 1.84844em;
  line-height: 1.81813em;
  margin-bottom: 0.36969em;
}

@media (min-width: 600px) {
  h5 {
    font-size: calc( 14.20116px + (16.56802 - 14.20116) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h5 {
    font-size: 16.56802px;
    margin-top: 1.84844em;
    line-height: 2.21813em;
    margin-bottom: 0.36969em;
  }
}

h6 {
  font-size: 12px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.51042em;
}

@media (min-width: 600px) {
  h6 {
    font-size: calc( 12px + (14 - 12) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  h6 {
    font-size: 14px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.47396em;
  }
}

blockquote {
  font-style: italic;
  font-size: 8px;
  color: #a70404
}

blockquote cite {
  display: block;
  font-style: normal;
}

pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}

pre code {
  padding: 0;
}

code {
  font-family: 'Lato', sans-serif;
  padding: 0.0875em 0.2625em;
  line-height: 0;
}

big, small, sub, sup {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}

address {
  font-style: normal;
}

dt {
  color: #2b2c2d;
  font-weight: bold;
}

ul {
  padding-left: 1.1em;
}

ol {
  padding-left: 1.4em;
}

fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.875em;
}

@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.03125em;
  }
}

fieldset button, fieldset input[type="submit"] {
  margin-bottom: 0;
}

legend {
  color: #2b2c2d;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 12px;
  margin-bottom: 1.3125em;
}

@media (min-width: 600px) {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: calc( 12px + (14 - 12) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 14px;
    margin-bottom: 0.54688em;
  }
}

input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 12px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.125em;
}

@media (min-width: 600px) {
  input[type="submit"], button {
    font-size: calc( 12px + (14 - 12) * ((100vw - 600px) / (1140 - 600)));
  }
}

@media (min-width: 1140px) {
  input[type="submit"], button {
    font-size: 14px;
    margin-bottom: 1.3125em;
  }
}

label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.125em;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.375em;
}

@media (min-width: 1140px) {
  table {
    margin-bottom: 2.125em;
  }
}

th {
  text-align: left;
  color: #2b2c2d;
  padding: 0.21875em 0.875em;
}

@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}

td {
  padding: 0.875em;
  padding: 0.21875em 0.875em;
}

@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}


/**
 * ----------------------------------------------------------------------------------------
 * 2. COMMON - Margin, Padding
 * ----------------------------------------------------------------------------------------
 */

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #787878;
  text-rendering: optimizeLegibility !important;
  letter-spacing: 0.5px;
}

::-moz-selection {
  background-color: #2b2c2d;
  color: #fff;
}

::selection {
  background-color: #2b2c2d;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  outline: none !important;
  text-decoration: none !important;
  color: #787878;
  transition: all 0.4s ease-in-out;
}
a:not([href]) {
  text-decoration: none !important;
  color: #787878;
}

a:hover {
  text-decoration: none;
  color: #45bcac !important;
}

p a {
  color: #45bcac;
}

.light-text {
  color: #c2c2c2;
}

.zero-padding {
  padding: 0px !important;
}

.mbn {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 10px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 20px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mtn {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mln {
  margin-left: 0;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.mrn {
  margin-right: 0;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.pbn {
  padding-bottom: 0 !important;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.ptn {
  padding-top: 0 !important;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pln {
  padding-left: 0;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.prn {
  padding-right: 0;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.mtm-80 {
  margin-top: -80px;
}

.white-color {
  color: #fff !important;
}

.underline {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.underline:after {
  content: "";
  width: 32px;
  height: 1px;
  background: #c2c2c2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.full-underline::after {
  width: 100%;
}

.longer-underline::after {
  width: 120px;
}

.text-center .underline::after {
  width: 4%;
  left: 48%;
}

.text-center .longer-underline::after {
  width: 8%;
  left: 46%;
}

.text-muted {
  font-size: 85%;
  font-style: italic;
}

.label {
  font-size: 60%;
  border-radius: 0px;
  font-weight: inherit;
}

.default-ul {
  list-style: circle;
}

.st-label {
  position: relative;
  background-color: #30a2d9;
}

.st-label:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 5px;
  margin-top: -6px;
  border-right-color: #30a2d9 !important;
}

.label-primary {
  background-color: #30a2d9;
}

.panel {
  border-radius: 0px;
}

.panel-heading {
  border-radius: 0px;
}

.badge {
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  font-weight: 400;
  padding: 0px;
}

.google-map {
  width: 100%;
  min-height: 400px;
}

.black-color {
  color: #383939 !important;
}

.white-color {
  color: #fff !important;
}

.muted-color {
  color: #888a8c !important;
}

.trans {
  transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #2b2c2d;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.bold {
  font-weight: bold !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.clearfix {
  clear: both;
}

ul,
ol,
dl {
  list-style-position: outside;
}

.lighter-text {
  color: #787878 !important;
}

.label {
  font-size: 60%;
  border-radius: 0px;
  font-weight: inherit;
}

/**
 * ----------------------------------------------------------------------------------------
 * 3. HEADER & NAVIGATION
 * ----------------------------------------------------------------------------------------
 */

/**
 * ----------------------------------------------------------------------------------------
 * 4. SECTIONS
 * ----------------------------------------------------------------------------------------
 */


section.content-section {
  padding: 60px 0;
}

section.content-section:nth-of-type(even) {
  background-color: #f2f2f2;
}

section.content-section:nth-of-type(odd) {
  background-color: #fff;
}

section.parallax-section {
  background-color: transparent !important;
}

section.parallax-section .white-grad {
  position: relative;
  z-index: 1;
}

.content-section .section-header {
  margin-bottom: 20px;
}

.content-section .section-header .section-sub-sub-subtitle{
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #a7a7a7;
  font-weight: 500;
  font-size: .78em;
}
.content-section .section-header .section-sub-subtitle{
  font-family: 'Lato', sans-serif;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #a70404;
  font-weight: 500;
  font-size: 0.98em;
}

.content-section .section-title {
  color: #30a2d9;
  font-size: 1.958em;
  font-weight: 550;
}

.content-section .section-text {
  color: #787878;
  font-size: 1.058em;
  font-weight: 550;
}

.content-section .section-subtitle .img-thumbnail {
  box-shadow: none;
}


.content-section .feature-text-center .img-thumbnail {
  box-shadow: none;
}
.content-section .section-subtitle {
  color: #787878;
  font-weight: 600;
  font-size: 1.328em;
  padding-bottom: 5px
}

.content-section .section-subtitle-image {
  padding-bottom: 2px
}

.content-section .section-sub-subtitle {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 1.08em;
  padding-bottom: 3px
}

.content-section .section-sub-sub-subtitle {
  color: #a7a7a7;
  font-weight: 500;
  font-size: .68em;
  padding-bottom: 3px
}
.gray-bg {
  background-color: #f2f2f2;
}

.white-bg {
  background-color: #fff;
}

.white-grad {
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 90px 0;
}

/**
 * ----------------------------------------------------------------------------------------
 * 5. FEATURES
 * ----------------------------------------------------------------------------------------
 */
.feature .icon {
  color: #45bcac;
  font-size: 2.818em;
  padding-bottom: 12px
}

.feature-left-icon {
  margin-bottom: 50px;
}

.feature-left-icon .feature-title {
  margin-bottom: 20px;
  font-size: 52px;
}

.feature-left-icon .icon {
  color: #45bcac;
  font-size: 60px;
  line-height: 80px;
  width: 14%;
  display: inline-block;
  vertical-align: top;
}

.feature-left-icon .feature-right-side {
  display: inline-block;
  width: 85%;
}

.feature-box {
  background: #f2f2f2;
  margin-bottom: 25px;
  padding: 35px;
  text-align: center;
}

.feature-box .icon {
  color: #45bcac;
  font-size: 52px;
  display: block;
  margin-bottom: 22px;
}

.feature-box .feature-desc {
  text-align: center;
  color: #787878;
  margin-bottom: 5px;
}

section.content-section:nth-of-type(even) .feature-box {
  background: #d9d9d9;
}

.feature-box-2 {
  border: 1px dashed #787878;
  border-top: 3px solid #45bcac;
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-2 .feature-title {
  margin-bottom: 20px;
  padding-bottom: 6px;
  font-size: 52px;
}

.feature-box-2 .icon {
  color: #45bcac;
  font-size: 60px;
  line-height: 70px;
  display: block;
  width: 70px;
  height: 70px;
  margin: -54px auto 15px;
  background: #45bcac;
  color: #fff;
  border-radius: 50%;
}

.feature-box-2 .feature-desc {
  color: #787878;
}

.feature-box-3 {
  border: 1px dashed #a6a6a6;
  border-top: 3px solid #45bcac;
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-3 .feature-title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  font-size: 52px;
}

.feature-box-3 .icon {
  color: #45bcac;
  font-size: 40px;
  line-height: 70px;
  display: block;
  width: 70px;
  height: 70px;
  margin: -54px auto 15px;
  background: #fff;
  color: #45bcac;
  border-radius: 50%;
}

.feature-box-3 .feature-desc {
  color: #787878;
}

section.content-section:nth-of-type(even) .feature-box-3 .icon {
  background: #f2f2f2;
}

.feature-box-4 .icon {
  color: #45bcac;
  display: inline-block;
  font-size: 32px;
  line-height: 32px;
}

.feature-box-4 .feature-title {
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-bottom: 12px;
  font-size: 52px;
}

.col-xs-6 .feature-desc {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px; 
}

.col-xs-6 .feature-title {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px; 
}
.col-md-6 .feature-title {
  color: #787878;
  font-size: 18px;
  padding-bottom: 1px
}

.col-md-6 .img-thumbnail {
  box-shadow: none;
  display: center;
  text-align: center;
}
.col-md-6 .feature-link {
  color: #787878;
  font-size: 16px;
}

.col-xs-6 .feature-text {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px; 
}

.feature-box-4 .feature-desc {
  color: #787878;
}

.feature-type-5 {
  margin: 0;
}

.feature-type-5 [class*="col-md"] {
  padding: 0;
  margin: 0;
}

.feature-type-5 .feature-box-5 {
  position: relative;
  background: #45bcac;
  color: #fff;
  padding: 60px 40px;
  overflow: hidden;
}

.feature-type-5 .feature-box-5 .feature-title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.feature-type-5 .feature-box-5 .feature-desc {
  margin-bottom: 0;
}

.feature-type-5 .feature-box-5 .icon {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 10px;
}

.feature-type-5 .feature-box-5 .bg-icon {
  position: absolute;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.2;
  bottom: -30px;
  left: -25px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.feature-type-5 .feature-box-5.black-box {
  background: #2b2c2d;
}

.feature-box-8 {
  border: 1px dashed #a6a6a6;
  border-top: 3px solid #45bcac;
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-8 .feature-title {
  margin-bottom: 20px;
}

.feature-box-8 .icon {
  color: #45bcac;
  font-size: 40px;
  line-height: 70px;
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: -54px;
  margin-bottom: 15px;
  background: #fff;
  color: #45bcac;
  border-radius: 50%;
}

.feature-box-8 .feature-desc {
  color: #787878;
}

section.content-section:nth-of-type(even) .feature-box-8 .icon {
  background: #f2f2f2;
}

.feature-box-9 {
  border: 1px dashed #d9d9d9;
  border-top: 3px solid #45bcac;
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-9 .feature-title {
  margin-bottom: 20px;
}

.feature-box-9 .icon {
  color: #45bcac;
  font-size: 40px;
  line-height: 70px;
  display: block;
  width: 70px;
  height: 70px;
  margin: -54px 20px 15px auto;
  background: #fff;
  color: #45bcac;
  border-radius: 50%;
}

.feature-box-9 .feature-desc {
  color: #787878;
}

section.content-section:nth-of-type(even) .feature-box-9 .icon {
  background: #f2f2f2;
}

.feature-box-10 {
  border-top: 3px solid #45bcac;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-10 .feature-title {
  margin-bottom: 20px;
}

.feature-box-10 .icon {
  color: #45bcac;
  font-size: 32px;
  line-height: 60px;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -15px;
  margin-top: -48px;
  margin-bottom: 15px;
  background: #45bcac;
  color: #fff;
  border-radius: 50%;
}

.feature-box-10 .feature-desc {
  color: #787878;
}

.feature-box-11 {
  border-top: 3px solid #45bcac;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 14px;
  position: relative;
}

.feature-box-11 .feature-title {
  margin-bottom: 20px;
}

.feature-box-11 .icon {
  color: #45bcac;
  font-size: 32px;
  line-height: 60px;
  display: block;
  width: 60px;
  height: 60px;
  margin: -48px -15px 15px auto;
  background: #45bcac;
  color: #fff;
  border-radius: 50%;
}

.feature-box-11 .feature-desc {
  color: #787878;
}

.main.home{
  padding-top: 50px;
}

/**
 * ----------------------------------------------------------------------------------------
 * 6. COUNTERS
 * ----------------------------------------------------------------------------------------
 */
.counter-box {
  color: #2b2c2d;
}

.counter-box .count-icon {
  display: inline-block;
  font-size: 60px;
  line-height: 80px;
  width: 80px;
  height: 80px;
}

.counter-box .count-info {
  display: inline-block;
  position: relative;
}

.counter-box .count-info h6 {
  font-size: 30px;
  line-height: 1.25em;
}

.counter-box .count-info p {
  margin-bottom: 0;
}

.counter-box.counter-box-2 .count-icon {
  display: block;
  width: 100%;
}

/**
 * ----------------------------------------------------------------------------------------
 * 7. CALL TO ACTION SECTIONS
 * ----------------------------------------------------------------------------------------
 */
.cta {
  padding: 50px 0;
  background: #45bcac;
  color: #fff;
}

.cta .cta-title {
  color: #fff;
  margin-bottom: 12px;
  font-size: 26px;
}

.cta:hover {
  background: #2b2c2d;
}

.cta-1 .desc {
  float: left;
  width: 80%;
}

.cta-1 {
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.cta-1 .title {
  font-size: 18px;
  margin-bottom: 15px;
}

.cta-1 .desc {
  font-size: 13px;
  line-height: 22px;
}

.cta-2 .desc {
  float: left;
  width: 75%;
}

.cta-2 {
  padding: 20px;
  border: 1px solid #40a269;
  background: #45bcac;
}

.cta-2 .title {
  font-size: 15px;
  margin-bottom: 15px;
  color: #fff;
}

.cta-2 .desc {
  font-size: 13px;
  line-height: 22px;
  color: #fff;
}

.cta-3 {
  padding: 20px;
  border: 1px solid #2b2c2d;
  background: #2b2c2d;
  text-align: center;
  position: relative;
}

.cta-3 .title {
  font-size: 23px;
  margin-bottom: 12px;
  color: #fff;
}

.cta-3 .desc {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px 40px;
}

.cta-3 .bg-icon {
  position: absolute;
  font-size: 220px;
  color: rgba(255, 255, 255, 0.15);
  bottom: -40px;
  right: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.cta-3:hover .bg-icon {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

.cta-3:hover .icon-rotate {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.cta-3 a,
.cta-3 button {
  z-index: 2;
  position: relative;
}

.cta-4 {
  padding: 20px;
  border: 1px solid #40a269;
  background: #45bcac;
  text-align: center;
  position: relative;
}

.cta-4 .title {
  font-size: 15px;
  margin-bottom: 15px;
  color: #fff;
}

.cta-4 .desc {
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px 40px;
}

.cta-4 .bg-icon {
  position: absolute;
  font-size: 220px;
  color: rgba(255, 255, 255, 0.15);
  bottom: -40px;
  left: -20px;
  transition: all 0.4s ease-in-out;
}

.cta-4:hover .bg-icon {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

.cta-4:hover .icon-rotate {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/**
 * ----------------------------------------------------------------------------------------
 * 8. BUTTONS
 * ----------------------------------------------------------------------------------------
 */
.btn {
  white-space: nowrap;
  text-transform: left;
  border-color: rgba(255, 255, 255, 0.25);
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  border-radius: 0;
  font-style: normal;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 15px 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  min-height: 0;
  min-width: 0;
  max-height: none;
  max-width: none;
}

.btn.btn-default {
  background-color: transparent;
}

.btn.btn-primary {
  background-color: #45bcac;
}

.btn.btn-default:hover {
  background-color: white;
  color: #45bcac;
}

.btn.btn-primary:hover {
  background-color: white;
  border-color: #45bcac;
  color: #45bcac;
}

.st-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #d9d9d9;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}

.st-btn.btn-small {
  padding: 5px 15px;
  font-size: 12px;
}

.st-btn.st-btn-thick {
  border-width: 4px;
}

.st-btn.st-btn-3d {
  border-bottom-width: 3px;
}

.st-btn .icon {
  font-size: 16px;
  display: inline-block;
  padding-right: 5px;
}

.st-btn.icon-right .icon {
  padding-left: 5px;
}

.st-btn.hvr-back.full-rounded:before {
  border-radius: 100px;
}

.st-btn.hvr-back:before {
  background: #45bcac;
}

.st-btn.hvr-back:hover, .st-btn.hvr-back:active, .st-btn.hvr-back:focus {
  color: #fff !important;
}

.st-btn.hvr-border.full-rounded:before {
  border-radius: 100px;
}

.st-btn.hvr-border:before {
  border-color: #45bcac;
  background-color: #45bcac;
}

.st-btn.primary-btn {
  background-color: #45bcac;
  color: #fff;
  border-color: #40a269;
}

.st-btn.primary-btn:hover, .st-btn.primary-btn:active, .st-btn.primary-btn:focus {
  background: transparent;
  color: #45bcac;
  padding-bottom: 15px;
}

.st-btn.primary-btn.hvr-back:before {
  background: #fff;
  padding-bottom: 15px;
}

.st-btn.primary-btn.hvr-back:hover, .st-btn.primary-btn.hvr-back:active, .st-btn.primary-btn.hvr-back:focus {
  color: #45bcac !important;
  padding-bottom: 15px;
}

.st-btn.dark-btn {
  background-color: #2b2c2d;
  color: #fff;
  border-color: #2b2c2d;
}

.st-btn.dark-btn:hover, .st-btn.dark-btn:active, .st-btn.dark-btn:focus {
  background: transparent;
  border-color: #2b2c2d;
  color: #2b2c2d !important;
}

.st-btn.dark-btn.hvr-back:before {
  background: #fff;
  border-color: #2b2c2d;
}

.st-btn.dark-btn.hvr-back:hover, .st-btn.dark-btn.hvr-back:active, .st-btn.dark-btn.hvr-back:focus {
  color: #2b2c2d !important;
}

.st-btn.dark-btn.hvr-border:before {
  border-color: #2b2c2d;
  background-color: #2b2c2d;
}

.st-btn:hover, .st-btn:active, .st-btn:focus {
  border-color: #45bcac;
}

.st-btn.rounded {
  border-radius: 8px;
}

.st-btn.full-rounded {
  border-radius: 100px;
}

.hvr-border-fade:active,
.hvr-border-fade:focus,
.hvr-border-fade:hover {
  box-shadow: inset 0 0 0 4px #45bcac, 0 0 1px transparent;
}

button {
  outline: none !important;
}

.form-group label {
  font-size: 12px;
}

.form-group .alert {
  font-size: 12px;
}

.form-control {
  box-shadow: none;
  font-size: 12px;
  background: #f2f2f2;
}

.form-control:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}

/**
 * ----------------------------------------------------------------------------------------
 * 10. GRADIENT BACKGROUNDS
 * ----------------------------------------------------------------------------------------
 */
.grad-bg {
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.grad-bg-01 {
  background: #30a2d9;
  background: linear-gradient(to left, #30a2d9, #145575);
}

.grad-bg-11 {
  background: repeating-linear-gradient(45deg, transparent, transparent 1em, moccasin 0, moccasin 2em, transparent 0, transparent 3em, powderblue 0, powderblue 4em, transparent 0, transparent 5em, lavender 0, lavender 6em, transparent 0, transparent 7em, beige 0, beige 8em), repeating-linear-gradient(-45deg, transparent, transparent 1em, khaki 0, khaki 2em, transparent 0, transparent 3em, beige 0, beige 4em, transparent 0, transparent 5em, peachpuff 0, peachpuff 6em), whitesmoke;
  background-blend-mode: multiply;
}

.grad-bg-11 .headline {
  color: #323232 !important;
}

.grad-bg-11 .sub-headline {
  color: #323232 !important;
}

.bg-black {
  background: #363636;
  color: #e2e2e2;
}

/**
 * ----------------------------------------------------------------------------------------
 * 11. TABS
 * ----------------------------------------------------------------------------------------
 */
.tabs-section .nav.nav-pills {
  display: table;
  width: 100%;
}

.tabs-section .nav.nav-pills a i {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 42px;
  line-height: 50px;
  margin: auto;
}

.tabs-section .nav-pills > li {
  display: table-cell;
  float: none;
}

.tabs-section .nav-pills > li > a {
  color: #787878;
}

.tabs-section .nav-pills > li.active > a,
.tabs-section .nav-pills > li.active > a:focus,
.tabs-section .nav-pills > li.active > a:hover {
  background-color: transparent !important;
  color: #45bcac !important;
}

.tabs-section .tab-pane {
  padding: 40px 0 30px;
}

.tab-style-2 .nav-tabs {
  border-bottom: 0;
}

.tab-style-2 .nav-tabs > li > a {
  padding: 10px 25px;
}

.tab-style-2 .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}

.tab-style-2 .nav-tabs > li.active > a,
.tab-style-2 .nav-tabs > li.active > a:focus,
.tab-style-2 .nav-tabs > li.active > a:hover {
  color: #2b2c2d;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #a6a6a6;
}

.tab-style-2 .tab-content {
  padding: 20px;
}

.tab-style-1 .nav-tabs {
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  border-bottom-color: #d9d9d9;
}

.tab-style-1 .nav-tabs li {
  display: inline-block;
  float: none;
}

.tab-style-1 .nav-tabs > li > a {
  background: #d9d9d9;
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 3px solid #444647;
}

.tab-style-1 .nav-tabs > li.active > a,
.tab-style-1 .nav-tabs > li.active > a:focus,
.tab-style-1 .nav-tabs > li.active > a:hover {
  background: #fff;
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9;
  border-top: 3px solid #45bcac;
  border-bottom-color: transparent;
}

.tab-style-1 .tab-content {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 15px;
}

.tab-style-3 .nav-tabs {
  border-bottom: 0;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.tab-style-3 .nav-tabs li {
  display: table-cell;
  text-align: center;
  float: none;
}

.tab-style-3 .nav-tabs > li > a {
  background: #d9d9d9;
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 3px solid #444647;
  margin-right: 0;
  color: #444647;
}

.tab-style-3 .nav-tabs > li.active > a,
.tab-style-3 .nav-tabs > li.active > a:focus,
.tab-style-3 .nav-tabs > li.active > a:hover {
  background: #fff;
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9;
  border-top: 3px solid #45bcac;
  border-bottom: 1px solid #FFF;
  color: #2b2c2d;
}

.tab-style-3 .tab-content {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 15px;
}

.tab-style-4 .nav-tabs {
  border-top: 0;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.tab-style-4 .nav-tabs li {
  display: table-cell;
  text-align: center;
  float: none;
}

.tab-style-4 .nav-tabs > li > a {
  background: #d9d9d9;
  border-top: none;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 3px solid #444647;
  margin-right: 0;
  color: #444647;
}

.tab-style-4 .nav-tabs > li.active > a,
.tab-style-4 .nav-tabs > li.active > a:focus,
.tab-style-4 .nav-tabs > li.active > a:hover {
  background: #fff;
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9;
  border-bottom: 3px solid #45bcac;
  border-top: 1px solid #FFF;
  color: #2b2c2d;
}

.tab-style-4 .tab-content {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  padding: 15px;
}

.tab-style-5 .nav-tabs {
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
}

.tab-style-5 .nav-tabs > li {
  float: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.tab-style-5 .nav-tabs > li > a {
  padding: 15px 30px;
  color: #a6a6a6;
}

.tab-style-5 .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}

.tab-style-5 .nav-tabs > li.active > a,
.tab-style-5 .nav-tabs > li.active > a:focus,
.tab-style-5 .nav-tabs > li.active > a:hover {
  color: #2b2c2d;
  background-color: transparent;
  border: 1px solid #45bcac;
  border-radius: 30px;
}

.tab-style-5 .tab-content {
  padding: 30px 20px 20px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}

.tab-style-6 .nav-tabs {
  border-right: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  border-right-color: #d9d9d9;
}

.tab-style-6 .nav-tabs > li > a {
  background: #d9d9d9;
  border-right: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 3px solid #444647;
}

.tab-style-6 .nav-tabs > li.active > a,
.tab-style-6 .nav-tabs > li.active > a:focus,
.tab-style-6 .nav-tabs > li.active > a:hover {
  background: #fff;
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  border-left: 3px solid #45bcac;
  border-right-color: transparent;
}

.tab-style-6 .tab-content {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 15px;
}

.tab-style-6 .nav-content-div {
  z-index: 1;
}

.tab-style-6 .nav-tab-div {
  z-index: 2;
  margin-right: -1px;
}

.tab-style-7 .nav-tabs {
  border-left: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  border-left-color: #d9d9d9;
}

.tab-style-7 .nav-tabs > li > a {
  background: #d9d9d9;
  border-left: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: 3px solid #444647;
}

.tab-style-7 .nav-tabs > li.active > a,
.tab-style-7 .nav-tabs > li.active > a:focus,
.tab-style-7 .nav-tabs > li.active > a:hover {
  background: #fff;
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  border-right: 3px solid #45bcac;
  border-left-color: transparent;
}

.tab-style-7 .tab-content {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 15px;
}

.tab-style-7 .nav-content-div {
  z-index: 1;
}

.tab-style-7 .nav-tab-div {
  z-index: 2;
  margin-left: -1px;
}

.tab-style-8 .nav-tabs {
  border-bottom: 0;
  text-align: center;
}

.tab-style-8 .nav-tabs > li {
  float: none;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.tab-style-8 .nav-tabs > li > a {
  padding: 10px 25px;
  color: #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

.tab-style-8 .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}

.tab-style-8 .nav-tabs > li.active > a,
.tab-style-8 .nav-tabs > li.active > a:focus,
.tab-style-8 .nav-tabs > li.active > a:hover {
  color: #45bcac;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #45bcac;
}

.tab-style-8 .tab-content {
  padding: 30px 20px 20px;
  text-align: center;
  line-height: 26px;
}

.tab-style-9 .nav-tabs {
  border-bottom: 0;
  text-align: center;
}

.tab-style-9 .nav-tabs > li {
  float: none;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.tab-style-9 .nav-tabs > li > a {
  padding: 10px 20px;
  color: #c5c5c5;
  border: 0;
  border-bottom: 3px solid #c5c5c5;
}

.tab-style-9 .nav-tabs > li > a .icon {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px dotted #c5c5c5;
  margin: auto;
  margin-bottom: 10px;
  line-height: 60px;
  font-size: 47px;
  border-radius: 50%;
}

.tab-style-9 .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}

.tab-style-9 .nav-tabs > li.active > a,
.tab-style-9 .nav-tabs > li.active > a:focus,
.tab-style-9 .nav-tabs > li.active > a:hover {
  color: #45bcac;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #45bcac;
}

.tab-style-9 .nav-tabs > li.active > a .icon,
.tab-style-9 .nav-tabs > li.active > a:focus .icon,
.tab-style-9 .nav-tabs > li.active > a:hover .icon {
  border-color: #45bcac;
}

.tab-style-9 .tab-content {
  padding: 30px 20px 20px;
  text-align: center;
  line-height: 26px;
  display: center-block;
}

.stat-box {
  padding: 15px;
  border: 1px solid #d9d9d9;
  margin-left: -1px;
  margin-top: -1px;
}

.stat-box span.icon {
  font-size: 42px;
  display: block;
}

.stat-box h5 {
  font-size: 18px;
  display: inline-block;
}

.stat-box h6 {
  font-size: 12px;
  display: inline-block;
}

.stat-box:hover {
  background: #45bcac;
  color: #fff;
}

.stat-box:hover h5 {
  color: #fff;
}

.stat-box:hover h6 {
  color: #fff;
}

.tab-style-10 .nav-tabs {
  border-right: 0px;
  margin: 0;
  padding: 0;
}

.tab-style-10 .nav-tabs > li > a {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 3px solid #444647;
  color: #787878;
}

.tab-style-10 .nav-tabs > li.active > a,
.tab-style-10 .nav-tabs > li.active > a:focus,
.tab-style-10 .nav-tabs > li.active > a:hover {
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  border-left: 3px solid #45bcac;
  border-right-color: #d9d9d9;
  color: #45bcac;
}

.tab-style-10 .tab-content {
  border: 0px;
  padding: 15px 25px;
}

.tab-style-10 .nav-content-div {
  z-index: 1;
}

.tab-style-10 .nav-tab-div {
  z-index: 2;
}

/**
 * ----------------------------------------------------------------------------------------
 * 12. PORTFOLIO
 * ----------------------------------------------------------------------------------------
 */
.cbp * {
  font-family: 'Lato', sans-serif;
}

.cbp .fa {
  font-family: FontAwesome;
}

.cbp-l-grid-projects-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
}

.cbp-l-grid-projects-desc {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
}

.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #787878;
  font-size: 11px;
}

.cbp-l-grid-work .cbp-item-wrapper {
  padding: 7px;
}

.cbp-l-grid-work-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
}

.cbp-l-grid-work-desc {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: none;
}

.cbp-l-grid-masonry-projects-title {
  font-family: 'Lato', sans-serif;
  color: #45bcac;
}

.cbp-l-grid-masonry-projects-desc {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: none;
}

.cbp-l-grid-masonry-projects .cbp-l-caption-buttonLeft,
.cbp-l-grid-masonry-projects .cbp-l-caption-buttonRight {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #787878;
  font-size: 11px;
}

.cbp-l-filters-alignRight .cbp-filter-counter {
  background-color: #45bcac;
  font-family: 'Lato', sans-serif;
}

.cbp-l-filters-alignRight .cbp-filter-item {
  font-family: 'Lato', sans-serif;
}

.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
  background-color: #45bcac;
  border-color: #45bcac;
}

.cbp-l-filters-alignRight .cbp-filter-counter:after {
  border-top-color: #45bcac;
}

.cbp-l-caption-title {
  font-family: 'Lato', sans-serif;
}

.cbp-l-caption-desc {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
}

.cbp-l-filters-button .cbp-filter-item {
  font-family: 'Lato', sans-serif;
}

.cbp-l-grid-mosaic .cbp-l-caption-title {
  font-family: 'Lato', sans-serif;
}

.cbp-l-grid-mosaic .cbp-l-caption-desc {
  font-family: 'Lato', sans-serif;
}

.cbp-l-filters-alignLeft .cbp-filter-item {
  font-family: 'Lato', sans-serif;
}

.cbp-l-grid-team-name {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #45bcac;
}

.cbp-l-grid-team-position {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
}

.cbp-l-filters-alignCenter .cbp-filter-counter {
  font-family: 'Lato', sans-serif;
}

.cbp-l-filters-alignCenter .cbp-filter-item {
  font-family: 'Lato', sans-serif;
}

.cbp-l-filters-alignCenter {
  font-family: 'Lato', sans-serif;
}

.cbp-l-grid-testimonials-body {
  color: #787878;
  font-size: 14px;
}

.cbp-l-grid-masonry-projects .cbp-caption-activeWrap {
  background-color: rgba(0, 0, 0, 0.5);
}

.cbp-popup-singlePage .cbp-popup-navigation-wrap {
  background-color: #45bcac;
}

.cbp-popup-singlePage .cbp-popup-prev {
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  height: 36px;
  width: 36px;
}

.cbp-popup-singlePage .cbp-popup-prev:before {
  content: "\f060";
}

.cbp-popup-singlePage .cbp-popup-next {
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  height: 36px;
  width: 36px;
}

.cbp-popup-singlePage .cbp-popup-next:before {
  content: "\f061";
}

.cbp-popup-singlePage .cbp-popup-close {
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 36px;
  height: 36px;
  width: 36px;
  padding: 0;
  text-align: center;
  padding-left: 2px;
}

.cbp-popup-singlePage .cbp-popup-close:before {
  content: "\f00d";
}

.cbp-caption-defaultWrap,
.cbp-caption-expand .cbp-caption-defaultWrap,
.cbp-caption-expand .cbp-l-caption-body,
.cbp-l-filters-buttonCenter .cbp-filter-item,
.cbp-l-filters-underline .cbp-filter-item {
  font-family: 'Lato', sans-serif;
}

.star-icon {
  color: #45bcac;
  font-size: 18px;
  margin-right: 5px;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  color: #45bcac;
  border-color: #6ac490;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
  background-color: #45bcac;
}

.cbp-l-grid-mosaic .cbp-caption-activeWrap {
  background-color: rgba(0, 0, 0, 0.8);
}

.cbp-l-grid-mosaic .cbp-l-caption-title {
  color: #fff;
}

.cbp-l-grid-mosaic .cbp-l-caption-desc {
  color: #f2f2f2;
}

.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active {
  background: #45bcac;
}

.cbp-l-filters-work .cbp-filter-item:hover {
  background: #45bcac;
}

.cbp-l-grid-work-title {
  color: #45bcac;
}

.cbp-l-filters-alignLeft .cbp-filter-item.cbp-filter-item-active {
  background-color: #45bcac;
  border-color: #40a269;
}

/**
 * ----------------------------------------------------------------------------------------
 * 13. SWITCHER
 * ----------------------------------------------------------------------------------------
 */
.switcher {
  position: fixed;
  top: 100px;
  padding: 20px;
  left: -200px;
  background: #2b2c2d;
  width: 200px;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
}

.switcher .handle {
  position: absolute;
  right: -40px;
  width: 40px;
  height: 40px;
  color: #f2f2f2;
  font-size: 26px;
  line-height: 40px;
  background: #323232;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
}

.switcher h5 {
  font-size: 14px;
  color: #fff;
}

.switcher .color {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.switcher .alizarin {
  background: #e74c3c;
}

.switcher .torquoise {
  background: #1abc9c;
}

.switcher .sunflower {
  background: #f1c40f;
}

.switcher .carrot {
  background: #e67e22;
}

.switcher .peterriver {
  background: #3498db;
}

.switcher .wisteria {
  background: #8e44ad;
}

.switcher .nephritis {
  background: #27ae60;
}

.switcher .midnightblue {
  background: #2c3e50;
}

.switcher .switch-header {
  padding: 5px 10px;
  border: 1px solid #f2f2f2;
  display: block;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  color: #f2f2f2;
}

.switcher p {
  font-size: 11px;
}

.switcher p a {
  color: #fff;
  transition: all 0.4s ease;
}

.switcher p a:hover {
  color: #45bcac;
}

/**
 * ----------------------------------------------------------------------------------------
 * 14. PAGE LOADERS
 * ----------------------------------------------------------------------------------------
 */
.page-loader {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.page-loader img.logo-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #45bcac;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* spinner-2 */
.spinner-2 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #45bcac;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* spinner-3 */
.spinner-3 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #45bcac;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* spinner-4 */
.spinner-4 {
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-4 > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-4 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-4 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-4 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-4 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* spinner-5 */
.spinner-5 {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* spinner-6 */
.spinner-6 {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner-6 > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-6 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-6 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.border-0 {
  border-radius: 0 !important;
}

/**
 * ----------------------------------------------------------------------------------------
 * 15. SLIDERS
 * ----------------------------------------------------------------------------------------
 */
.Creative-SubTitle,
.tp-caption.Creative-SubTitle {
  font-family: 'Lato', sans-serif;
  color: #45bcac;
}

.Creative-Button,
.tp-caption.Creative-Button {
  font-family: 'Lato', sans-serif;
  color: #45bcac;
  border-color: #45bcac;
  transition: all 0.4s ease-in-out;
}

.Creative-Title,
.tp-caption.Creative-Title,
.tp-caption.NotGeneric-Title, .NotGeneric-Title {
  font-family: 'Lato', sans-serif;
}

.tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle,
.tp-caption.NotGeneric-CallToAction, .NotGeneric-CallToAction,
.tp-caption.NotGeneric-Button, .NotGeneric-Button {
  font-family: 'Lato', sans-serif;
}

.rev_slider .caption,
.rev_slider .tp-caption {
  color: #45bcac;
}

.primary-bg {
  background-color: #45bcac !important;
}

.metis .tp-tab-number {
  font-family: 'Lato', sans-serif;
}

.tp-tab-title {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
}

.metis .tp-tab.selected .tp-tab-divider {
  border-right-color: #45bcac !important;
}

.Agency-Title,
.tp-caption.Agency-Title {
  font-family: 'Lato', sans-serif;
  color: #fff !important;
}

.tp-caption.BigBold-Title, .BigBold-Title,
.tp-caption.BigBold-SubTitle, .BigBold-SubTitle,
.tp-caption.BigBold-Button, .BigBold-Button {
  font-family: 'Lato', sans-serif;
}

.NotGeneric-SubTitle, .tp-caption.NotGeneric-SubTitle {
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 22px;
}

.slideshow-div .full-content {
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.slideshow-div .full-content h1, .slideshow-div .full-content h2, .slideshow-div .full-content h3, .slideshow-div .full-content h4, .slideshow-div .full-content h5, .slideshow-div .full-content h6 {
  color: #fff;
  text-transform: none;
}

.slideshow-div .full-content h1 {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: bold;
}

.carousel.slide h1, .carousel.slide h2, .carousel.slide h3, .carousel.slide h4, .carousel.slide h5, .carousel.slide h6 {
  color: #fff;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
}

.rev-btn, .rev-btn:visited {
  font-family: 'Lato', sans-serif;
}

/*.carousel-style-2 {
  ken burns effect
}*/

.carousel-style-2 .carousel-control {
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.75);
  width: 30px;
  height: 60px;
}

.carousel-style-2 .item img {
  transition: all 5s ease-in-out;
}

.carousel-style-2 .item.active.inactiveUntilOnLoad img,
.carousel-style-2 .item img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.carousel-style-2 .item.active img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.carousel-style-2 .carousel-control .glyphicon-chevron-left, .carousel-style-2 .carousel-control .glyphicon-chevron-right, .carousel-style-2 .carousel-control .icon-prev, .carousel-style-2 .carousel-control .icon-next {
  margin-top: -15px;
}

.carousel-style-2 .carousel-control .glyphicon-chevron-left, .carousel-style-2 .carousel-control .icon-prev {
  margin-left: -15px;
}

.carousel-style-2 .carousel-control .glyphicon-chevron-right, .carousel-style-2 .carousel-control .icon-next {
  margin-right: -15px;
}

.carousel-style-2 .carousel-caption {
  bottom: 80px;
}

.carousel-style-2 .carousel-caption h3 {
  font-size: 36px;
  text-transform: capitalize;
}

.carousel-style-3 .carousel-indicators {
  left: auto;
  width: auto;
  margin-left: 0px;
  right: 50px;
}

.carousel-style-4 .carousel-control {
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.75);
  width: 30px;
  height: 60px;
}

.carousel-style-4 .carousel-control .glyphicon-chevron-left, .carousel-style-4 .carousel-control .glyphicon-chevron-right, .carousel-style-4 .carousel-control .icon-prev, .carousel-style-4 .carousel-control .icon-next {
  margin-top: -15px;
}

.carousel-style-4 .carousel-control .glyphicon-chevron-left, .carousel-style-4 .carousel-control .icon-prev {
  margin-left: -15px;
}

.carousel-style-4 .carousel-control .glyphicon-chevron-right, .carousel-style-4 .carousel-control .icon-next {
  margin-right: -15px;
}

.carousel-style-4 .carousel-caption {
  bottom: 15%;
}

.carousel-style-4 .carousel-caption h3 {
  font-size: 4.236em;
  text-transform: capitalize;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.carousel-style-4 .carousel-indicators {
  left: auto;
  width: auto;
  margin-left: 0px;
  right: 50px;
}

.carousel-style-4 .item {
  transition: all 0.4s ease-in-out;
}

.carousel-style-4 .item,
.carousel-style-4 .active.left,
.carousel-style-4 .active.right {
  opacity: 0;
}

.carousel-style-4 .active,
.carousel-style-4 .next.left,
.carousel-style-4 .prev.right {
  opacity: 1;
}

.carousel-style-4 .next,
.carousel-style-4 .prev,
.carousel-style-4 .active.left,
.carousel-style-4 .active.right {
  left: 0;
}

.carousel-style-4 .carousel-control {
  z-index: 2;
}

/**
 * ----------------------------------------------------------------------------------------
 * DROPCAPS & HIGHLIGHTS
 * ----------------------------------------------------------------------------------------
 */
.dropcap:first-letter {
  float: left;
  color: #444647;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 2px;
}

.dropcap-style-2:first-letter {
  float: left;
  color: #444647;
  background: #d9d9d9;
  font-size: 46px;
  line-height: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px 10px 0;
}

.dropcap-style-3:first-letter {
  float: left;
  color: #45bcac;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 2px;
}

.dropcap-style-4:first-letter {
  float: left;
  color: #fff;
  background: #45bcac;
  font-size: 46px;
  line-height: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px 10px 0;
}

.highlight {
  background: #45bcac;
  padding: 5px;
  color: #fff;
}

/**
 * ----------------------------------------------------------------------------------------
 * 16. ACCORDIONS
 * ----------------------------------------------------------------------------------------
 */
.acc-default .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-default .panel-title a {
  display: block;
}

.acc-wo-background .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-wo-background .panel-title a {
  display: block;
}

.acc-wo-background .panel-heading {
  background-color: transparent;
}

.acc-wo-gap .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-wo-gap .panel-title a {
  display: block;
}

.acc-wo-gap.panel-group .panel {
  margin-top: -1px;
}

.acc-wo-border .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-wo-border .panel-title a {
  display: block;
}

.acc-wo-border .panel {
  border: 0;
  box-shadow: none;
}

.acc-faq-1 .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-faq-1 .panel-title .icon {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.acc-faq-1 .panel-title .collapsed .icon {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.acc-faq-1 .panel-body {
  padding-left: 40px;
}

.acc-faq-1 .panel-title a {
  display: block;
}

.acc-faq-1 .panel {
  border: 0;
  box-shadow: none;
}

.acc-faq-1 .panel-heading {
  background: transparent;
  border: 0;
}

.acc-faq-1 .panel-body {
  border: 0 !important;
}

.acc-faq-2 .panel-title {
  font-size: 1em;
  text-transform: capitalize;
}

.acc-faq-2 .panel-title .icon {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: right;
  color: #fff;
  padding: 10px 0px;
}

.acc-faq-2 .panel-title .collapsed .icon {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.acc-faq-2 .panel-body {
  padding-left: 20px;
}

.acc-faq-2 .panel-title a {
  display: block;
}

.acc-faq-2 .panel {
  border: 0;
  box-shadow: none;
}

.acc-faq-2 .panel-heading {
  background: #2b2c2d;
  color: #fff;
  border: 0;
  transition: all 0.4s ease-in-out;
}

.acc-faq-2 .panel-heading:hover {
  background: #2b2c2d;
}

.acc-faq-2 .panel-body {
  border: 0 !important;
}

.nav-tabs > li > a {
  border-radius: 0;
}

.nav-tabs > li > a .icon {
  font-size: 16px;
}

/**
 * ----------------------------------------------------------------------------------------
 * 17. TIMELINE
 * ----------------------------------------------------------------------------------------
 */
.timeline {
  position: relative;
}

.timeline .tm-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
}

.timeline .tm-icon span {
  color: #45bcac;
  font-size: 30px;
  line-height: 60px;
}

.timeline .tm-detail {
  padding-left: 80px;
  margin-bottom: 40px;
  color: #787878;
  font-size: 12px;
  line-height: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  width: 2px;
  background: #f2f2f2;
}

.timeline-right {
  position: relative;
}

.timeline-right .timeline-row {
  position: relative;
  text-align: right;
}

.timeline-right .tm-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.timeline-right .tm-icon span {
  color: #45bcac;
  font-size: 30px;
  line-height: 60px;
}

.timeline-right .tm-detail {
  padding-right: 80px;
  margin-bottom: 40px;
  color: #5f5f5f;
  font-size: 12px;
  line-height: 20px;
}

.timeline-right::before {
  content: '';
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  width: 2px;
  background: #f2f2f2;
}

.timeline-center {
  position: relative;
}

.timeline-center .timeline-row:nth-of-type(even) {
  position: relative;
  text-align: left;
  width: 50%;
  margin-left: 50%;
}

.timeline-center .timeline-row:nth-of-type(even) .tm-icon {
  left: -30px;
}

.timeline-center .timeline-row:nth-of-type(even) .tm-detail {
  margin-left: 40px;
  margin-bottom: 40px;
  color: #5f5f5f;
  font-size: 12px;
  line-height: 20px;
  background: #f2f2f2;
  padding: 20px;
}

.timeline-center .timeline-row:nth-of-type(odd) {
  position: relative;
  text-align: right;
  width: 50%;
}

.timeline-center .timeline-row:nth-of-type(odd) .tm-icon {
  right: -30px;
}

.timeline-center .timeline-row:nth-of-type(odd) .tm-detail {
  margin-right: 40px;
  margin-bottom: 40px;
  color: #5f5f5f;
  font-size: 12px;
  line-height: 20px;
  background: #f2f2f2;
  padding: 20px;
}

.timeline-center .tm-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.timeline-center .tm-icon span {
  color: #45bcac;
  font-size: 30px;
  line-height: 60px;
}

.timeline-center::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: #f2f2f2;
}

section.content-section:nth-of-type(even) .timeline-right .tm-icon {
  background-color: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline-right .tm-detail {
  color: #5f5f5f;
}

section.content-section:nth-of-type(even) .timeline-right::before {
  background: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline .tm-icon {
  background-color: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline .tm-detail {
  color: #787878;
}

section.content-section:nth-of-type(even) .timeline::before {
  background: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline-center .timeline-row:nth-of-type(even) .tm-detail {
  background: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline-center .timeline-row:nth-of-type(odd) .tm-detail {
  background: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline-center .tm-icon {
  background-color: #d9d9d9;
}

section.content-section:nth-of-type(even) .timeline-center::before {
  background: #d9d9d9;
}

/**
 * ----------------------------------------------------------------------------------------
 * 18. SOCIAL ICONS
 * ----------------------------------------------------------------------------------------
 */
.si-style-1 {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin: 10px;
  font-size: 22px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  color: #2b2c2d;
}

.si-style-2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 8px;
  font-size: 16px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  color: #2b2c2d;
  border: 1px solid #787878;
  border-radius: 2px;
}

.si-style-2:hover {
  background: #45bcac;
  color: #fff !important;
  border-color: #398f5d;
}

.si-style-3 {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 8px;
  font-size: 16px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  color: #2b2c2d;
  border: 1px solid #787878;
  border-radius: 20px;
}

.si-style-3:hover {
  background: #45bcac;
  color: #fff !important;
  border-color: #398f5d;
}

.si-style-4 {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 8px;
  font-size: 22px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  color: #2b2c2d;
  border: 1px solid #787878;
  border-radius: 2px;
}

.si-style-4:hover {
  background: #45bcac;
  color: #fff !important;
  border-color: #398f5d;
}

/**
 * ----------------------------------------------------------------------------------------
 * 19. FORMS & INPUTS
 * ----------------------------------------------------------------------------------------
 */
.login-box {
  background: #f2f2f2;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}

.login-box .checkbox label,
.login-box .radio label {
  padding-left: 0;
}

.login-box .st-checkbox-1-label:before,
.login-box .st-checkbox-2-label:before,
.login-box .st-radio-1-label:before,
.login-box .st-radio-2-label:before {
  padding: 3px;
  width: 20px;
  height: 20px;
}

.login-box .st-checkbox:checked + .st-checkbox-2-label:before,
.login-box .st-radio:checked + .st-radio-2-label:before {
  font-size: 11px;
}

.login-box input,
.login-box textarea {
  background: #fff;
}

.bootstrap-switch {
  border-radius: 0px;
  border-color: #d9d9d9;
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-radius: 0px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #45bcac;
}

.bootstrap-switch .bootstrap-switch-handle-off {
  border-radius: 0px;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-radius: 0px;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-radius: 0px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 40px;
  margin: auto;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #d9d9d9;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #45bcac;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 40px;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 40px;
  transition: background 0.4s;
  margin: auto;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 40px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 32px;
  background-color: #dddddd;
  border-radius: 32px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #45bcac;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 40px;
  background-color: #45bcac;
}

input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  margin: auto;
  font-weight: 400;
}

input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

input.cmn-toggle-yes-no + label:before {
  background-color: #d9d9d9;
  content: attr(data-off);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

input.cmn-toggle-yes-no + label:after {
  background-color: #45bcac;
  content: attr(data-on);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.st-checkbox, .st-radio {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  font-weight: 400;
}

.st-checkbox-1-label, .st-checkbox-2-label, .st-radio-1-label, .st-radio-2-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.st-checkbox-1-label:before, .st-checkbox-2-label:before, .st-radio-1-label:before, .st-radio-2-label:before {
  content: '';
  display: inline-block;
  background: #FFF;
  border: 2px solid #d9d9d9;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease;
}

.st-checkbox:checked + .st-checkbox-1-label:before, .st-radio:checked + .st-radio-1-label:before {
  background: #45bcac;
}

.st-checkbox:checked + .st-checkbox-2-label:before, .st-radio:checked + .st-radio-2-label:before {
  content: "\f00c";
  font: normal normal normal 12px/1 FontAwesome;
  background: #45bcac;
  color: #FFF;
}

.st-radio-2-label:before, .st-radio-1-label:before {
  border-radius: 50%;
  transition: all 0.4s ease;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  background-color: #398f5d;
  border-color: #398f5d;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: #398f5d;
  border-color: #398f5d;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px !important;
  transition: all 0.4s ease;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.input-style-2 {
  font-size: 13px;
  padding: 10px 30px !important;
  height: auto;
  line-height: 22px;
}

.rounded-input {
  border-radius: 30px;
}

/**
 * ----------------------------------------------------------------------------------------
 * 20. LISTS
 * ----------------------------------------------------------------------------------------
 */
.ol-style-2 {
  list-style-type: none;
}

.ol-style-2 li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.ol-style-2 li:before {
  content: counter(step-counter);
  color: #45bcac;
  padding-right: 8px;
  font-size: 120%;
}

.ol-style-3 {
  list-style-type: none;
}

.ol-style-3 li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.ol-style-3 li:before {
  content: counter(step-counter);
  color: #fff;
  background: #45bcac;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  line-height: 30px;
  border-radius: 50%;
}

.ol-style-4 {
  list-style-type: none;
}

.ol-style-4 li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.ol-style-4 li:before {
  content: counter(step-counter);
  color: #45bcac;
  border: 2px solid #45bcac;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  line-height: 26px;
  border-radius: 50%;
}

.ul-style-2 {
  list-style-type: none;
}

.ul-style-2 li .list-icon {
  color: #45bcac;
  margin-right: 10px;
  margin-bottom: 8px;
}

.ul-style-3 {
  list-style-type: none;
}

.ul-style-3 li .list-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #45bcac;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 8px;
}

.ul-style-4 {
  list-style-type: none;
}

.ul-style-4 li .list-icon {
  width: 30px;
  height: 30px;
  line-height: 26px;
  border: 2px solid #45bcac;
  color: #45bcac;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 8px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #45bcac;
  border-color: #398f5d;
}

.panel-primary {
  border-color: #398f5d;
}

.panel-primary > .panel-heading {
  background: #45bcac;
  border-color: #398f5d;
}

/**
 * ----------------------------------------------------------------------------------------
 * 21. PAGE TITLES
 * ----------------------------------------------------------------------------------------
 */
.page-title-row {
  padding: 80px 10px;
}

.page-title-row .page-title {
  color: #fff;
}

.page-title-row .page-title.black-color {
  color: #2b2c2d;
}

.page-title-div {
  background-color: #f2f2f2;
  color: #2b2c2d;
}

.page-title-div .page-title {
  color: #2b2c2d;
}

.page-title-div .breadcrumb {
  background: transparent;
}

.page-title-div .breadcrumb a {
  color: #787878;
}

.page-title-div .breadcrumb a.active {
  color: #2b2c2d;
}

.gradient-bg {
  background: linear-gradient(141deg, #45bcac 51%, #398f5d 0%, #ffffff 75%);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(141deg, #45bcac 0%, #398f5d 51%, #317d51 75%);
  color: #fff;
}

.gradient-bg .page-title {
  color: #fff;
}

.gradient-bg .breadcrumb a {
  color: #f2f2f2;
}

.gradient-bg .breadcrumb a.active {
  color: #fff;
}

.page-title-mini .page-title-row {
  padding: 10px;
}

.page-title-mini .page-title {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 40px;
}

.page-title-mini .breadcrumb {
  margin-bottom: 0;
}

/**
 * ----------------------------------------------------------------------------------------
 * 22. MAGNIFIC POPUP
 * ----------------------------------------------------------------------------------------
 */
.st-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.st-popup .title {
  text-align: center;
  margin-bottom: 40px;
}

.st-popup .desc {
  color: #787878;
  margin-bottom: 20px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
        * Fade-move animation for second dialog
        */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * ----------------------------------------------------------------------------------------
 * 23. CAROUSEL
 * ----------------------------------------------------------------------------------------
 */
.owl-carousel .owl-nav [class*='owl-'] {
  padding: 5px 10px;
  border-radius: 0;
  background: #45bcac;
}

.owl-carousel .owl-nav [class*='owl-']:hover {
  background: #398f5d;
}

.nav-arrow .owl-nav .owl-prev:before {
  font-family: FontAwesome;
  content: "\f053";
  position: relative;
  left: -1px;
  top: 1px;
}

.nav-arrow .owl-nav .owl-next:before {
  font-family: FontAwesome;
  content: "\f054";
  position: relative;
  left: 2px;
  top: 1px;
}

.center-nav.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  overflow: hidden;
}

.center-nav.owl-carousel .owl-controls .owl-nav {
  margin-top: 0;
}

.center-nav.owl-carousel .owl-controls .owl-nav [class*='owl-'] {
  transition: all 0.4s ease-in-out;
}

.center-nav.owl-carousel .owl-controls .owl-nav .owl-prev {
  float: left;
}

.center-nav.owl-carousel .owl-controls .owl-nav .owl-next {
  float: right;
}

.center-nav.owl-carousel .owl-controls .owl-nav .disabled {
  opacity: 0.5 !important;
}

.nav-on-hover .owl-nav [class*='owl-'] {
  opacity: 0;
}

.nav-on-hover .owl-nav .owl-prev {
  margin-left: -50px;
}

.nav-on-hover .owl-nav .owl-next {
  margin-right: -50px;
}

.nav-on-hover:hover .owl-nav [class*='owl-'] {
  opacity: 0.9;
}

.nav-on-hover:hover .owl-nav .owl-prev {
  margin-left: 0;
}

.nav-on-hover:hover .owl-nav .owl-next {
  margin-right: 0;
}

.nav-on-hover:hover .owl-nav:hover [class*='owl-'] {
  opacity: 1;
}

.top-nav.owl-carousel .owl-controls {
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  margin-top: -55px;
}

.top-nav.owl-carousel .owl-controls .owl-nav {
  margin-top: 0;
  text-align: right;
}

.top-nav.owl-carousel .owl-controls .owl-nav [class*='owl-'] {
  transition: all 0.4s ease-in-out;
}

.top-nav.owl-carousel .owl-controls .owl-nav .disabled {
  opacity: 0.5 !important;
}

/**
 * ----------------------------------------------------------------------------------------
 * 24. SHOP
 * ----------------------------------------------------------------------------------------
 */
.shop-box {
  position: relative;
  display: block;
}

.shop-box .prod-img-1 {
  display: block;
}

.shop-box .prod-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.shop-box:hover .prod-img-2 {
  opacity: 1;
}

/**
 * ----------------------------------------------------------------------------------------
 * 25. MISCELLANEOUS
 * ----------------------------------------------------------------------------------------
 */
.chart-caption {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 20px;
  position: absolute;
}

.chart-caption .icon {
  font-size: 40px;
}

.blog-box .blog-title {
  text-transform: none;
  margin-bottom: 4px;
}

.blog-img-box {
  height: 200px;
  overflow: hidden;
  box-shadow: none;
}

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1px 1px 0 0;
}

.breadcrumb a {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0;
}

.breadcrumb a.active {
  color: #f2f2f2;
  font-size: 12px;
  letter-spacing: 0;
}

blockquote {
  font-size: 18px;
  line-height: 22px;
  padding: 10px 20px;
}

blockquote small {
  padding-top: 10px;
}

.blockquote-default {
  border-left: 5px solid #d9d9d9;
}

.blockquote-default.primary-color {
  border-left-color: #45bcac;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 5px solid #d9d9d9;
}

.blockquote-reverse.primary-color {
  border-right-color: #45bcac;
}

.blockquote-2 {
  border-left: 0;
  position: relative;
}

.blockquote-2::before {
  color: rgba(0, 0, 0, 0.1);
  content: "“";
  display: block;
  font-size: 100px;
  left: 5px;
  position: absolute;
  top: 15px;
}

.blockquote-reverse-2 {
  border-left: 0;
  text-align: right;
}

.blockquote-reverse-2::before {
  color: rgba(0, 0, 0, 0.1);
  content: "”";
  display: block;
  font-size: 100px;
  right: 5px;
  position: absolute;
  top: 15px;
}

section.content-section:nth-of-type(even) .blockquote-default {
  border-left: 5px solid #bfbfbf;
}

section.content-section:nth-of-type(even) .blockquote-reverse {
  border-right: 5px solid #bfbfbf;
  border-left: 0;
}

.progress-rounded {
  border-radius: 30px;
}

.progress-rounded .progress-bar {
  border-radius: 30px;
}

.progress.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress.title-outside {
  position: relative;
  overflow: visible;
  margin-top: 50px;
}

.progress.title-outside .progress-info {
  color: #787878;
  position: absolute;
  width: 100%;
  top: -20px;
}

.clients-grid-opacity > div {
  background: #e5e5e5;
  border: 1px solid #cccccc;
  margin-left: -1px;
  margin-bottom: -1px;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

.clients-grid-opacity > div:hover {
  opacity: 1;
}

input, textarea {
  outline: none !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: inherit;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #fff;
}

.nav-sidebar {
  border: 1px solid #d9d9d9;
  background: #fff;
  z-index: 1;
}

.nav-sidebar li {
  margin-top: 0px !important;
  border-bottom: 1px dotted #d9d9d9;
}

.nav-sidebar li:last-of-type {
  border-bottom: 0px;
}

.nav-sidebar li.active {
  background: #f2f2f2;
}

.nav-sidebar li.active a {
  color: #45bcac;
}

.stars.stars-primary .br-theme-css-stars .br-widget a.br-selected:after, .stars.stars-primary .br-theme-css-stars .br-widget a.br-active:after {
  color: #45bcac;
}

.stars.stars-danger .br-theme-css-stars .br-widget a.br-selected:after, .stars.stars-danger .br-theme-css-stars .br-widget a.br-active:after {
  color: red;
}

.stars.stars-success .br-theme-css-stars .br-widget a.br-selected:after, .stars.stars-success .br-theme-css-stars .br-widget a.br-active:after {
  color: green;
}

.stars.stars-info .br-theme-css-stars .br-widget a.br-selected:after, .stars.stars-info .br-theme-css-stars .br-widget a.br-active:after {
  color: blue;
}

.br-theme-css-stars .br-widget a {
  float: none;
}

.stars.stars-warning .br-theme-css-stars .br-widget a.br-selected:after, .stars.stars-warning .br-theme-css-stars .br-widget a.br-active:after {
  color: orange;
}

.google-map {
  width: 100%;
  min-height: 400px;
}

.affix {
  top: 60px;
  position: fixed !important;
}

.affix-bottom {
  position: absolute;
}

.anim {
  opacity: 0;
}

.anim .icon {
  cursor: pointer;
}

.animated {
  opacity: 1;
}

.st-animate {
  opacity: 0;
}

.st-animate.animated {
  opacity: 1;
}

.client-carousel {
  cursor: ew-resize;
}

.ew-cursor {
  cursor: ew-resize;
}

.breadcrumb-2 {
  background: none;
}

.breadcrumb-2 a {
  font-size: 12px;
  color: #787878;
}

.breadcrumb-2 a.active {
  font-size: 12px;
  color: #45bcac;
}

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 4px 12px 4px 12px;
  line-height: 20px;
  font-size: 13px;
}

.btn-breadcrumb .btn:first-child {
  padding: 4px 6px 4px 10px;
}

.btn-breadcrumb .btn:last-child {
  padding: 4px 18px 4px 12px;
}

.bt-grid [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d9d9d9;
  border: 0px;
}
.img-thumbnail [class*="col-"] {
  border: 0px
}

.bt-grid hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bt-grid h4 {
  margin-top: 25px;
}

.bt-grid .row {
  margin: 0 0 20px;
}

.bt-grid .row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.is-countdown {
  background: transparent;
  border: 0px;
}

.countdown-style-2 .countdown-section {
  border-left: 1px dashed #45bcac;
}

.countdown-style-2 .countdown-section:last-child {
  border-right: 1px dashed #45bcac;
}

#fa-icons section {
  margin-top: 20px;
  margin-bottom: 20px;
}

#fa-icons h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}

#fa-icons .fa {
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  width: 40px;
}

#fa-icons .fa-icon {
  height: 40px;
}

#fa-icons .fa-icon:hover {
  background: #45bcac;
  border: 1px solid #398f5d;
  color: #fff;
  line-height: 40px;
}

#fa-icons .fa-icon:hover .fa {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

#fa-icons .fa-icon:hover .text-muted {
  color: #e2e2e2;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typeLoop {
  display: inline;
}

.modal-title {
  clear: none;
}

.modal-header .close {
  margin-bottom: 0;
}

.modal-footer .st-btn {
  vertical-align: baseline;
}

.gsc-input-box {
  width: 250px;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  margin-top: 0px !important;
  padding-top: 5px !important;
  box-sizing: content-box;
}

table.gsc-search-box td {
  vertical-align: top !important;
}

form.gsc-search-box {
  padding-top: 10px;
}

.gsst_b {
  display: none;
}

.ms-section .fullscreen {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

.pricing-box {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.pricing-box .pricing-head {
  background-color: #f2f2f2;
  text-align: center;
  border-top: 3px solid #45bcac;
  padding: 1.618em;
  position: relative;
  overflow: hidden;
}

.pricing-box .pricing-head h1, .pricing-box .pricing-head h2, .pricing-box .pricing-head h3, .pricing-box .pricing-head h4, .pricing-box .pricing-head h5, .pricing-box .pricing-head h6 {
  margin: 0;
}

.pricing-box .pricing-head .striked {
  text-decoration: line-through;
}

.pricing-box .pricing-head .bg-icon {
  position: absolute;
  bottom: -20px;
  left: -20px;
  font-size: 120px;
  color: #999999;
  opacity: 0.2;
}

.pricing-box .pricing-body {
  padding: 1em;
}

.pricing-box .pricing-body ul li {
  line-height: 2.25;
}

.pricing-box .pricing-body ul li .icon {
  float: right;
}

.pricing-box .pricing-foot a {
  display: block;
  padding: 1em;
  background: #f2f2f2;
  color: #2b2c2d;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}

.pricing-box .pricing-foot a:hover {
  background: #45bcac;
  color: #fff !important;
}

.pricing-box.popular .pricing-head {
  background: #2b2c2d;
  color: #fff;
}

.pricing-box.popular .pricing-head h1, .pricing-box.popular .pricing-head h2, .pricing-box.popular .pricing-head h3, .pricing-box.popular .pricing-head h4, .pricing-box.popular .pricing-head h5, .pricing-box.popular .pricing-head h6 {
  color: #fff;
}

@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .header .menu-item a {
    padding: 0 15px;
  }
}

.img-thumbnail {
  box-shadow: none;
}

.POSmiddle {
  height: 150px;
  background-image: url(../../images/POSmiddle.png);
  /*background-size: ?? */
  background-position: center;
  padding-bottom: 15px;
}

.tab-style-9 .nav-tabs > li > button .icon {
    display: block;
    width: 60px;
    height: 60px;
    border: 3px dotted #c5c5c5;
    margin: auto;
    margin-bottom: 10px;
    line-height: 60px;
    font-size: 47px;
    border-radius: 50%;
  }
  
@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}

@media (min-width: 768px){
.col-md-6 {
    width: 50%;
    float: left;
}
}

.leadership.active button{
	background: none!important;
    border: none;
	color: #45bcac;
	padding: 10px 20px;
    border: 0;
    border-bottom: 3px solid #45bcac
}

.leadership button{
	background: none!important;
    border: none;
	padding: 10px 20px;
    color: #c5c5c5;
    border-bottom: 3px solid #c5c5c5;
}

.tab-style-9 .nav-tabs li.leadership{
	margin-left:2.5px;
	margin-right:2.5px;
}

.tab-style-9 ul.nav-tabs{
	margin-left:auto;
	margin-right:auto;
}

.active .icon {
border-color: #45bcac
}	

.tab-style-5 .nav-tabs li.active button, .tab-style-5 .nav-tabs li.active button:focus {
    background: none!important;
	color: #2b2c2d;
    background-color: transparent;
    border: 1px solid #45bcac;
    border-radius: 30px;
    font-size: 20px;
}
.tab-style-5 .nav-tabs li button:hover, .tab-style-5 .nav-tabs li.active button:hover{	
	color: #45bcac;
}
	

.tab-style-5 .nav-tabs li button {
	background: none!important;
    border: none;
    padding: 15px 30px;
    color: #a6a6a6;
    font-size: 20px;
}

/*# sourceMappingURL=main.css.map */