@charset "UTF-8";
/**
 * ----------------------------------------------------------------------------------------
 * privacy.scss
 *
 * Css file for CCPA privacy policy page.
 * ----------------------------------------------------------------------------------------
 */
/**
 * ----------------------------------------------------------------------------------------
 *  [TABLE OF CONTENTS]
 *
 * 1. VARIABLES & MIXINS
 * 2. COMMON - Margin, Padding etc
 * 3. POSITIONING
 * 4. TEXTS
 * 5. LINKS
 * 6. TABLES
 * 7. MISCELLANEOUS
 * ----------------------------------------------------------------------------------------
 */
/**
 * ----------------------------------------------------------------------------------------
 * 1. VARIABLES & MIXINS
 * ----------------------------------------------------------------------------------------
 * Most of this are in here to override the styles we get from main.css
 */
.privacy-page {
    body {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
        font-style: normal; 
        font-variant: normal;
        font-size: 16px;
        font-weight: normal;
        color: black;
        -webkit-font-smoothing: initial;
        text-rendering: unset !important;
        letter-spacing: initial;
        line-height: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: none;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
        font-style: normal; 
        font-variant: normal;
        letter-spacing: initial;
    }

    h1 {
        font-size: 22.4px;
        font-weight: bold;
    }

    h2 {
        font-size: 19.2px;
        font-weight: bold;
    }

    h3, h4, h5, h6 {
        font-size: 16px;
    }

    p {
        margin-block-end: 16px;
        margin-block-start: 16px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
    }

    ul {
        list-style: initial;
        padding-inline-start: 40px;
        margin-block-end: 16px;
        margin-block-start: 16px;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 2. COMMON - Margin, Padding etc
    * ----------------------------------------------------------------------------------------
    */
    .pn {
        padding: 0;
    }

    .ptn {
        padding-top: 0 !important;
    }

    .mn {
        margin: 0;
    }

    .mbn {
        margin-bottom: 0 !important;
    }

    .mb5 {
        margin-bottom: 5px !important;
    }

    .mb10 {
        margin-bottom: 10px !important;
    }

    .mb20 {
        margin-bottom: 20px !important;
    }

    .mb30 {
        margin-bottom: 30px !important;
    }

    .mb50 {
        margin-bottom: 50px !important;
    }

    .mb80 {
        margin-bottom: 80px !important;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 3. POSITIONING
    * ----------------------------------------------------------------------------------------
    */
    .centered {
        text-align: center;
    }

    .vtop {
        vertical-align: top;
    }

    .vmiddle {
        vertical-align: middle;
    }

    .vbottom {
        vertical-align: bottom;
    }

    .right {
        float: right;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 4. TEXTS
    * ----------------------------------------------------------------------------------------
    */
    .fs-small {
        font-size: 0.9em;
    }

    .fs-tiny {
        font-size: 0.8em;
    }

    .fs-big {
        font-size: 1.2em;
    }

    .fs-large {
        font-size: 1.6em;
    }

    .bold {
        font-weight: bold;
    }

    .underlined {
        text-decoration: underline;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 5. LINKS
    * ----------------------------------------------------------------------------------------
    */
    a.regular-link, a.regular-link:visited, a.regular-link:hover, a.regular-link:active {
        color: #0000EE;
        text-decoration: underline;
    }

    a.black-link, a.black-link:visited, a.black-link:hover, a.black-link:active {
        color: black;
        text-decoration: none;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 6. TABLES
    * ----------------------------------------------------------------------------------------
    */
    .table {
        display: table;
        width: 100%;
        border: 1px solid black;
    }

    .row {
        display: table-row;
        border: 1px solid black;
    }

    .header-inverted-background {
        color: white;
        background: black;
    }

    .header-gray-background {
        color: white;
        background: #BFBFBF;
    }

    .column {
        border: 1px solid black;
        display: table-cell;
        padding: 5px;
    }

    .col20 {
        width: 20%;
    }

    .col25 {
        width: 25%;
    }

    .col30 {
        width: 30%;
    }

    .col40 {
        width: 40%;
    }

    .col50 {
        width: 50%;
    }

    .col80 {
        width: 80%;
    }

    .bordern {
        border: none;
    }

    .borderb {
        border: none;
        border-bottom: 1px solid black;
    }

    /**
    * ----------------------------------------------------------------------------------------
    * 7. MISCELLANEOUS
    * ----------------------------------------------------------------------------------------
    */
    .logo {
        width: 250px;
    }

    .privacy-container {
        width: 100%;
        margin: auto;
        padding: 4em 1em;
    }
}